<p><br><br><br></p>
<div class="places">
    Famous Places to Visit</div>
<p><br></p>
<div class="row">
    <div class="column">
        <a href="https://localhost:4200/famousplaces/hillstation">
            <img class="hillstation" src="./assets/images/2.JPG"
            width="300" height="200"/>
         </a>
    </div>
    <div class="column">
        <a href="https://localhost:4200/famousplaces/hillstation">
            <img class="hillstation" src="./assets/images/2.JPG"
            width="300" height="200"/>
         </a>
    </div>
    <div class="column">
        <a href="https://localhost:4200/famousplaces/hillstation">
            <img class="hillstation" src="./assets/images/2.JPG"
            width="300" height="200"/>
         </a>
    </div>
  </div>
 
