<p><br><br><br></p>
<div class="places">
    Famous Places to Visit</div>
<p><br></p>
<div class="row">
    <div class="column">
        <a routerLink="/touristattraction" >
            <img class="hillstation" src="./assets/images/f1.JPG"
            width="300" height="200"/>
         </a>
    </div> 
    <div class="column">
        <a href="https://localhost:4200/famousplaces/hillstation">
            <img class="hillstation" src="./assets/images/f2.JPG"
            width="300" height="200"/>
         </a>
    </div>
    <div class="column">
        <a href="https://localhost:4200/famousplaces/beaches">
            <img class="hillstation" src="./assets/images/f3.JPG"
            width="300" height="200"/>
         </a>
    </div>
  </div>

 
